<div class="wrapper">
    <nav id="sidebar" class="collapseMenu collapse in" *ngIf="isLoggedIn" aria-expanded="true">
        <div class="sidebar-header">
            <div class="user-details row">
                <div class="avatar">
                    <div class="circle">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSd7yTiLAbblr25cj9OZBBotNEWAaUzV5jK6anMQvyvB72hbrEG">
                    </div>
                </div>
                <div class="user-actions">
                    Olá {{user_displayName}}!
                    <div class="btn-group" role="group">
                        <a routerLink="/profile" class="btn btn-primary btn-sm"><i class="fas fa-user"></i> Perfil</a>
                        <button class="btn btn-primary btn-sm" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Sair</button>
                    </div>
                </div>
            </div>

        </div>
        <ul class="list-unstyled components">
            <li [routerLinkActive]="['active']"><a routerLink="/dashboard"><i class="fas fa-columns"></i> Dashboard</a></li>
            <li [routerLinkActive]="['active']"><a routerLink="/chat"><i class="fas fa-comments"></i> Chat</a></li>
            <li [routerLinkActive]="['active']"><a routerLink="/todo"><i class="fas fa-list-ul"></i> To Do</a></li>
        </ul>
    </nav>
    <div id="content">
        <div class="navbar navbar-default" *ngIf="isLoggedIn">
            <div id="menu">
                <div class="navbar-header">
                    <button aria-controls="collapseOne" data-toggle="collapse" data-target=".collapseMenu" type="button" id="sidebarCollapse" class="btn navbar-btn btn-primary">
                      <i class="fas fa-bars"></i>
                    </button>
                    <a class="navbar-brand">{{breadcrumb}}</a>
                </div>
                <div class="navbar-right">
                    <div class="btn-group" role="group">
                        <a routerLink="/messages" type="button" class="btn navbar-btn btn-secondary">
                            <i class="fas fa-envelope"></i>
                        </a>
                        <a routerLink="/chat" type="button" class="btn navbar-btn btn-secondary">
                            <i class="fas fa-comments"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>